.div-size {
  width: 75%;
  display: flex;
  align-content: flex-end;
  margin: auto;

  border-radius: 10px;
}
.image-size {
  width: auto;
  height: auto;
  box-shadow: 8px 8px 0px 0px #b0b0b0;
  border-radius: 10px;
}
.heading-style {
  color: #5727d9;
  font-size: 3rem;
}
.para-style {
  color: #3e13b4;
  font-size: 1.6rem;
}
