.flexIt {
  width: 70%;
  display: flex;

  flex-wrap: wrap;
}

.who-boxes {
  margin: 2%;
  background-color: #f7f9fd;
  border-radius: 40px;
  padding: 10px;
  padding-bottom: 0;
}
.text-style {
  font-size: 1.4rem;
  font-weight: bold;
  color: #706da5;
}
