.image-region {
  width: 100%;

  text-align: center;
}
.heading-region {
  margin: auto;
  width: 55%;
}
.big-heading {
  font-weight: bold;
  text-align: center;
  font-size: 2.7rem;
}
.small-heading {
  text-align: center;
  font-size: 1.9rem;
}
.button-region1 {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.individual-button {
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 40px;
  margin-right: 10px;
}
.team-button {
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 40px;
}
